.info-card{
    padding: 0 5px;
}
.info-primary{
    background: #1CC7C1;
}
.info-dark{
    background: #3A4256;
}

.info-container{
    height: 100px;
    /* margin: 120px; */
    padding: 30px;
}
.info-icon{
    font-size: 3em;
}
